ul.list-group {
    list-style-type: circle;
}

#learnMoreButton {
    margin: 20px;

}

#list {
    margin: 20px;
}

.productSummary,
.productDetails {

    border: 2px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}

.productSummary {
    background-color: greenyellow;




}

.productDetails {
    background-color: rgba(255, 166, 0, 0.685);
    height: 4500px;
}

.productSelection {
    height: 600px;
}

.jumbotron {
    margin-bottom: 0;
}

select.form-control[multiple],
select.form-control[size] {
    height: 500px;
}

.heading {
    margin: 10px;
}

.summaryView {
    padding: 2px;
    background-color: black;
    color: white;
    border-radius: 10px;

}

.productID {
    margin-left: 5px;
    padding-left: 5px;
}

.detailsContainer {
    font-size: large;
    color: white;
    border: 1px solid;
    margin-bottom: 10px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}

.liFormat {
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    flex-wrap: wrap;
}

.form-control {

    color: black;
}

p {
    font-style: italic;
    color: rgb(0, 183, 255);
}